include ../mixins/svg_sprite

mixin add_features-item(image, title, text, link, buttonText, className, classShadowNone)
    .features-item
        .features-item-picture
            +add_svg({class: "features-item-picture__icon", icon: image})

        h4= title
        p= text
        .container-button.mt-auto
            a(
            href=link
            class=className
            ).button.button-blue
                span= buttonText

            .button-shadow.button-shadow--blue(class=classShadowNone)

